<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="FhirUsername" value="sathis@cggtech.onmicrosoft.com" />
    <add key="FhirPassword" value="Password@123" />
    <!--add key="FhirUsername" value="fhirsrvenv-admin@FHIRServerInstance.onmicrosoft.com" /-->
    <!--add key="FhirPassword" value="Fh1rD3m0" /-->
    <add key="OnlineCrmUrl" value="https://msfielddemo.crm.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="OnlineMarketingUrl" value="https://msfielddemomarketing.crm.dynamics.com/XRMServices/2011/Organization.svc" />
    <!--add key="OnlineFhirUrl" value="https://fhirserverinstance.crm.dynamics.com/XRMServices/2011/Organization.svc" /-->
    <add key="OnlineFhirUrl" value="https://cggtech.crm.dynamics.com/XRMServices/2011/Organization.svc" />
  </appSettings>
</configuration>